<header class="header">
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li>
        <a class="header__link header__link--active" href="#">Home</a>
      </li>

      <li>
        <a class="header__link" href="#">Events</a>
      </li>

      <li>
        <a class="header__link" href="#">Add new event</a>
      </li>

      <li>
        <a class="header__link" href="#">Newsletter</a>
      </li>
    </ul>
  </nav>

  <form class="header__form">
    <input type="email" placeholder="Your email" />
    <button class="btn" type="submit">Sign up</button>
  </form>
</header>
