.header {
  justify-content: space-between;
  gap: 2.4rem;
  padding: 2rem 4.8rem;
  border-bottom: 1px solid #ccc;

  &,
  &__nav-list {
    display: flex;
    align-items: center;
  }

  &__nav {
  }

  &__nav-list {
    gap: 3.2rem;
  }

  &__link {
    color: var(--mainColorDark);
    letter-spacing: 0.7px;
    text-transform: capitalize;
    transition: all 0.2s;

    &--active {
      font-weight: 600;
    }

    &--active,
    &:hover {
      color: var(--mainColor);
    }
  }

  &__form {
    display: flex;
    gap: 0;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
