input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input,
textarea,
select {
  padding: 0.4rem 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

.btn {
  background-color: var(--mainColor);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.5rem;
  transition: all 0.2s;

  &:hover {
    background-color: var(--mainColorLight);
  }
}
